<ion-modal-view>
	<ion-header-bar >
		<div class="buttons">
     	 	<button class="button button-clear button-positive" ng-click="closeEditNote()">Cancel</button>
    	</div>
		<h1 class="title">Editing Note</h1>
		<div class="buttons">
     	 	<button class="button button-clear button-positive" ng-click="closeEditNote()">Save</button>
    	</div>
	</ion-header-bar>
	<ion-content scroll="false"> 
    	<div detect-gestures gesture-type="touch" gesture-type="release" >
          <span ng-class="highlighted" ng-attr-id="{{word.id}}" ng-repeat="word in words track by $index"> {{word.text}}</span>
        </div>
 
       <button ng-click="clearHighlightedWords()">Clear Highlighting Markup</button>
        <br/><br/>
        <button ng-click="parseHighlightedWords()">I'm done. Show me the quotes</button>
        <br/><br/>
        <h6 ng-repeat="quoteArray in highlightedWords"> 
           Quote:
           <span ng-repeat="quoteObject in quoteArray"> 
            {{quoteObject.text}}
          </span>
        </h6>



	</ion-content>
</ion-modal-view>


