<ion-view><ion-nav-title>{{noteTitle}}</ion-nav-title>

  <ion-content>
    <ion-spinner ng-class="{'ng-show':loaderShown, 'ng-hide': !loaderShown}" class="spinner-royal">
    </ion-spinner>

    <div class="small-padding">
      <div detect-gestures gesture-type="tap">
        <span ng-attr-id="{{word.id}}" ng-repeat="word in words track by $index" ng-class="{'overlay': word.isFirstWord, 'previouslyHighlighted': word.wasHighlighted, 'highlighted': word.isHighlighted, 'normal-text': !largeText, 'large-text': largeText}"> {{word.text}}
        </span>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-positive">

    <div class="button-bar">
      <a class="button" ng-click="parseHighlightedWords()" ng-class="{'disabled':isDisabled}">Save</a>
      <a class="button" ng-click="changeMarkup()">{{changeMarkupText}}</a>
      <a class="button" ng-click="clearHighlightedWords()" ng-class="{'disabled':isDisabled}">Clear All</a>
    </div>

  </ion-footer-bar>
</ion-view>
