<ion-view view-title="Intro to Leder" hide-nav-bar="true" >
  
  <ion-content>
	<ion-slide-box >
		<!-- Slide page one -->
    <ion-slide>
          <img style="width: 100%" src="img/onboard1.png">
      </ion-slide>


      <!-- Slide page two -->

      <ion-slide>
          <img style="width: 100%" src="img/onboard2.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard3.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard4.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard5.gif">
      </ion-slide>

      <ion-slide>
        <h2>Import notes</h2>
        <p>
         Create story projects and import your notes. 
        </p>
         <button class="button button-clear button-full button-positive" on-touch="startApp()">
          Take Me to Leder!
        </button>
      </ion-slide>

  
  		<!-- Slide page three -->
  		<ion-slide>
    		<h2>you'll need to connect to evernote!</h2>
    		<p>
     		 Connect...
    		</p>
	        <div class="button-bar" >
		    <a class="button button-outline button-positive">Access Evernote</a>
		    <a class="button button-outline" href="#/app/projects/{{project._id}}/projectpage/outline">Not Now</a>
		  </div>

  		</ion-slide>
  <!-- More slides here... -->
	</ion-slide-box>



  	</ion-content>

<!-- 	<ion-footer-bar class="bar-dark">
	</ion-footer-bar> -->

</ion-view>

