<ion-view view-title="Intro to Leder" hide-nav-bar="true" >

  <ion-content>
	<ion-slide-box >
		<!-- Slide page one -->

 
      <ion-slide>
          <img style="width: 100%" src="img/onboard1.png">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard2.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard3.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard4.gif">
      </ion-slide>

      <ion-slide>
          <img style="width: 100%" src="img/onboard5.gif">
      </ion-slide>

      <ion-slide>
          <img style="width:50%" src="img/onboard6.png">
          <p class="large-text stable" style="line-height:1.3em; padding: 20px 30px;">Connect to Evernote so you can copy and highlight your notes.</p>
          <div class="button-bar" >
        <a class="button button-full button-positive" on-touch="accessEvernote()">Access Evernote</a>
        <a class="button button-full button-outline button-stable" on-touch="startApp()">Not Now</a>
        </div>
      </ion-slide>

  <!-- More slides here... -->
	</ion-slide-box>



  	</ion-content>


</ion-view>

