<ion-view view-title="Intro to Leder" hide-nav-bar="true" >

  <ion-content>

	<ion-slide-box > 

      <ion-slide>
          <div id="onboard1_1242"><img style="width: 100%" src="img/onboard1_1242.png"></div>
          <div id="onboard1_750"><img style="width: 100%" src="img/onboard1_750.png"></div>
          <div id="onboard1_640"><img style="width: 100%" src="img/onboard1_640.png"></div>
          <div id="onboard1_320"><img style="width: 100%" src="img/onboard1_640by960.png"></div>
      </ion-slide>

      <ion-slide>
          <div id="onboard2"><img style="width: 100%" src="img/onboard2.gif"></div>
          <div id="onboard2_320"><img style="width: 100%" src="img/onboard2_640by960.png"></div>

      </ion-slide>

      <ion-slide>
          <div id="onboard3"><img style="width: 100%" src="img/onboard3.gif"></div>
          <div id="onboard3_320"><img style="width: 100%" src="img/onboard3_640by960.png"></div>
      </ion-slide>

      <ion-slide>
          <div id="onboard4"><img style="width: 100%" src="img/onboard4.gif"></div>
          <div id="onboard4_320"><img style="width: 100%" src="img/onboard4_640by960.png"></div>

      </ion-slide>

      <ion-slide>
          <div id="onboard5"><img style="width: 100%" src="img/onboard5.gif"></div>
          <div id="onboard5_320"><img style="width: 100%" src="img/onboard5_640by960.png"></div>

      </ion-slide>

      <ion-slide>
          <img src="img/onboard6.png" id="onboard6">
          <p class="text-connect stable">Connect to Evernote so you can copy and highlight your notes.</p>
          <div class="button-bar" >
            <a class="button button-full button-positive" on-touch="accessEvernote()">Access Evernote</a>
            <a class="button button-full button-outline button-stable" on-touch="startApp()">Not Now</a>
          </div>
      </ion-slide>

	 </ion-slide-box>

  </ion-content>
  
</ion-view>

