<ion-modal-view>

  <ion-header-bar>

    <h1 class="title">Access Evernote</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
    
  </ion-header-bar>
  
  <ion-content>
        <blockquote>Leder would like to access Evernote. Log into your Evernote account in order to import notes into your story projects.</blockquote>
        <button class="button button-block button-positive" type="submit" on-touch="accessEvernote()">Login</button>
  </ion-content>

</ion-modal-view>
