<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <p>Give Leder access to Evernote to populate your app.</p>
        <label class="item">
          <button class="button button-block button-positive" type="submit" on-touch="accessEvernote()">Give Access</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
