<ion-view view-title="Outline">
	
	<ion-nav-buttons side="right">
		<i class="ion-ios-compose-outline large-icon positive" on-touch="addListItemPopup()"></i>
		<i class="ion-ios-upload-outline large-icon positive" on-touch="exportProject(highlightedWords)"></i>
	</ion-nav-buttons>


	<ion-content>
		<h4 ng-class="{'ng-show':outlineBlankState, 'ng-hide': !outlineBlankState}" class="text-center blank-state">
			<dfn>I love deadlines. I like the whooshing sound they make as they fly by.
			</br>
			—Douglas Adams</dfn>
		</h4>


	  	<ion-list 
		      show-delete="shouldShowDelete"
		      show-reorder="shouldShowReorder"
		      can-swipe="listCanSwipe"
		      delegate-handle="outline-list">
		    <ion-item ng-repeat="quoteObject in highlightedWords track by $index" 
	              item="item"
	              class="item-remove-animate item-text-wrap"
	              style="padding-right: 1.7em;">

		    	<h3>{{quoteObject.source}}</h3>
		    	<p>{{quoteObject.text}} </p>

		    	<!-- button options -->
<!-- 		    	 <ion-option-button class="button-info"
                       ng-click="edit(item)">
			      Edit
			    </ion-option-button> -->
			    
		    	<!-- swipeable delete -->
	  		    <ion-delete-button class="ion-minus-circled" on-touch="delete(quoteObject)">
	  		    </ion-delete-button>

		    	<!-- reorder -->
			    <ion-reorder-button class="ion-navicon"
                	on-reorder="reorderItem(quoteObject, $fromIndex, $toIndex)">
			    </ion-reorder-button>
 		
    		</ion-item>
   
		</ion-list>

	    <button ng-class="{'ng-show':!outlineBlankState, 'ng-hide': outlineBlankState}" class="button button-clear button-full button-positive" on-touch="showDelete()">{{quoteText}}</button>



   </ion-content>


</ion-view>
