<ion-view view-title="Outline">

	<!-- subhead with reorder button -->
	<ion-header-bar class="bar-light bar-subheader">
  		<h1 class="title"></h1>
  		<div class="buttons">
    		<button class="button" ng-click="shouldShowReorder = !shouldShowReorder">Reorder</button>
  		</div>
	</ion-header-bar>

  <ion-content class="has-subheader">
	  <ion-list 
	      show-delete="shouldShowDelete"
	      show-reorder="shouldShowReorder"
	      can-swipe="listCanSwipe"
	      delegate-handle="outline-list">

	    <ion-item ng-repeat="quoteArray in highlightedWords track by $index" 
	              item="item"
	              class="item-remove-animate item-text-wrap">
	              <h3>Quote</h3>
	    	<span ng-repeat="item in quoteArray track by $index">{{ item.text }} </span>

	    	<!-- button options -->
	    	<!-- swipeable delete -->
		    <ion-option-button class="button-assertive"
		                       ng-click="delete(quoteArray)">
		      Remove
		    </ion-option-button>

	    	<!-- reorder -->
		    <ion-reorder-button class="ion-navicon"
		                        on-reorder="reorderItem(quoteArray, $fromIndex, $toIndex)">
		    </ion-reorder-button>

    	</ion-item>
	 </ion-list>
   </ion-content>
</ion-view>
