<ion-view view-title="Projects" hide-nav-bar="false">

  <ion-nav-buttons side="right">
    <i class="ion-ios-gear-outline medium-icon light" on-touch="showSettings()"></i>
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <i class="ion-email"></i>
  </ion-nav-buttons>

  <ion-content>
  
  	<button class="button button-clear button-full button-positive" ng-click="showPopup()">
      Create a Project
	  </button>
    <ion-list>

      <ion-item 
        ng-repeat="project in projects | orderBy : '-dateLastModified'" 
        href="#/app/projects/{{project._id}}/projectpage">
        
        {{project.title}}

        <span class="item-note">
          {{project.dateLastModified | date: 'shortTime'}} {{project.dateLastModified | date: 'shortDate'}} </br>
          {{project.notes.length}} 
          <span ng-if="project.notes.length == 1">note</span>
          <span ng-if="project.notes.length != 1">notes</span>
          | {{project.quotes.length}} 
          <span ng-if="project.quotes.length == 1">quote</span>
          <span ng-if="project.quotes.length != 1">quotes</span>
     
        </span>
    
        

        <ion-option-button class="ion-minus-circled" ng-click="deleteProject(project)">
          Delete
        </ion-option-button>

      </ion-item>

    </ion-list>


  </ion-content>

        <ion-footer-bar class="bar-dark">

        </ion-footer-bar>

</ion-view>

