<ion-view view-title="Projects" hide-nav-bar="false">

  <ion-nav-buttons side="right">
    <i class="ion-ios-gear-outline medium-icon light" on-touch="showSettings()"></i>
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <i class="ion-email"></i>
  </ion-nav-buttons>

  <ion-content>
  
  	<button class="button button-clear button-full button-positive" ng-click="showPopup()">
      Create a Project
	  </button>
    <ion-list>

      <ion-item 
        ng-repeat="project in projects | orderBy : '-dateLastModified'" 
        href="#/app/projects/{{project._id}}/projectpage">
        
        {{project.title}}

        <span class="item-note">
          {{project.dateLastModified | date: 'shortTime'}} {{project.dateLastModified | date: 'shortDate'}} 
        </span>

        <ion-option-button class="ion-minus-circled" ng-click="deleteProject(project)">
          Delete
        </ion-option-button>

      </ion-item>

    </ion-list>


  </ion-content>

        <ion-footer-bar class="bar-dark">
           <div class="col text-center">
            <h5 style="color:#ffffff; line-height:.5em; font-weight:300">LEDER</h5>      
          </div>
        </ion-footer-bar>

</ion-view>

