<ion-modal-view>
	<ion-header-bar class="bar-dark" >
		<h1 class="title">Settings</h1>
		<div class="buttons">
     	 	<button class="button button-clear button-light"  on-touch="closeSettings()">Done</button>
    	</div>
	</ion-header-bar>
	<ion-content scroll="false"> 	  
		<div class="list">
			<div class="item item-divider"></div>

			<li class="item item-toggle">
			     Use Large Text
				<label class="toggle toggle-balanced">
			        <input type="checkbox" ng-model="value" ng-change="largeTextChange(value)">
			        <div class="track">
			        	<div class="handle"></div>
			        </div>
			    </label>
			</li>

			<div class="item item-divider"></div>

        	<a class="item" href="#" onclick="window.open('http://www.lederapp.com', '_system', 'location=yes'); return false;">
                Introduction
            </a>
        	<a class="item" href="#" onclick="window.open('http://www.lederapp.com', '_system', 'location=yes'); return false;">
                About Leder
            </a>

        	<a class="item" href="#" onclick="window.open('http://www.lederapp.com', '_system', 'location=yes'); return false;">
                Privacy Policy
            </a>

        	<a class="item" href="#" onclick="window.open('http://www.lederapp.com', '_system', 'location=yes'); return false;">
                Give Feedback
            </a>
			<button class="button button-clear button-full button-stable" on-touch="toIntro();">
			  Rerun Intro
			</button>
         
			<div class="item item-divider">
			    </br>
				<p class="small">{{evernoteStatus}}</p>
			</div>

			<button ng-class="{'ng-show':loggedIn, 'ng-hide': !loggedIn}" class="button button-clear button-full button-assertive" on-touch="logoutEvernote();">
			  Disconnect Leder from Evernote
			</button>



			<div class="item item-divider">
			</br></br></br></br></br></br></br></br></br></br></br></br>
			</div>
	


		</div>


	</ion-content>
</ion-modal-view>
