<ion-modal-view>
	<ion-header-bar class="bar-dark" >
		<h1 class="title">Settings</h1>
		<div class="buttons">
     	 	<button class="button button-clear button-light"  on-touch="closeSettings()">Done</button>
    	</div>
	</ion-header-bar>
	<ion-content scroll="false"> 	  
		<div class="list">
			<div class="item item-divider"></div>

			<li class="item item-toggle">
			     Sync on Wi-Fi Only
				<label class="toggle toggle-balanced">
			        <input type="checkbox">
			        <div class="track">
			        	<div class="handle"></div>
			        </div>
			    </label>
			</li>

			<a class="item" href="#">
			    Text Size
			    <span class="item-note">
			      Medium
			    </span>
		  	</a>

			<div class="item item-divider"></div>

		  	<a class="item" href="#">
		    Support
		  	</a>
			
			<a class="item" href="#">
			    Privacy
		 	</a>
			
			<a class="item" href="#">
			    About
			</a>

			<div class="item item-divider">
			    </br>
				<p class="small">{{evernoteStatus}}</p>
			</div>

			<button ng-class="{'ng-show':loggedIn, 'ng-hide': !loggedIn}" class="button button-clear button-full button-assertive" on-touch="logoutEvernote();">
			  Disconnect Leder from Evernote
			</button>
			<div class="item item-divider">
			</br></br></br></br></br></br></br></br></br>
			</div>
	




		</div>


	</ion-content>
</ion-modal-view>
