<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<div class="buttons">
     	 	<button class="button button-clear button-light" on-touch="closeSourceNote()">Cancel</button>
    	</div>
		<h1 class="title">Add Evernote Notes</h1>
		<div class="buttons">
     	 	<button class="button button-clear button-light"  on-touch="saveSourceNotes()">Save</button>
    	</div>
	</ion-header-bar>
	<ion-content> 
	    <h4 ng-class="{'ng-show':fetchingNotes, 'ng-hide': !fetchingNotes}"><ion-spinner class="spinner-royal"></ion-spinner>
		Fetching notes...</h4>
		<ion-list>

			<div class="item item-divider">
				<img src="img/evernote2.png">
				Import notes into your story project.
			</div>

			<h4 ng-class="{'ng-show':loadingError, 'ng-hide': !loadingError}" class="text-center blank-state">
				<dfn>Something is wrong. Check your internet connection and try again.</dfn>
			</h4>

			 <ion-item 
			 	ng-repeat="sourceNote in sourceNotes | orderBy: '-updated' track by $index" 
			 	ng-init="sourceNote.touched=false"
			 	on-tap="sourceNote.touched = !sourceNote.touched"
		        ng-class="{ listOverlay : sourceNote.touched }">
			    <h2>{{sourceNote.title}}	    		
			    </h2>

			    <p>{{sourceNote.updated | date: 'shortDate'}} |  {{sourceNote.contentLength}} words</p>
			    
<!-- 			    <i ng-class="{'ng-show':sourceNote.touched, 'ng-hide': !sourceNote.touched}" class="ion-checkmark-round right-side"></i>
 -->
			 </ion-item>
		</ion-list>
  

	</ion-content>
</ion-modal-view>

<!-- 


<ion-view view-title="Sources">
	
<ion-content>
	<ion-list>
	 <div class="item item-divider">
    Select Notes for your Project

	<button class="button button-positive" on-touch="saveSourceNotes()">
	  Import Notes
	</button>

  	</div>
	 <ion-item 
	 	ng-repeat="sourceNote in sourceNotes | orderBy: '-created' track by $index" 
	 	ng-init="sourceNote.touched=false"
	 	on-touch="sourceNote.touched = !sourceNote.touched"
        ng-class="{ overlay : sourceNote.touched }">
	    <h2>{{sourceNote.title}}</h2>
	    <p>{{sourceNote.created | date: 'mediumDate'}} |  {{sourceNote.contentLength}} words</p>

	  </ion-item>
	</ion-list>
</ion-content>

</ion-view> -->

<!-- href="#/app/projects/{{value.id}}/projectpage/sources/editsources" -->