
.highlighted {
	background-color: #FFFF00;
	padding: 1px 1px 1px 2px;

}


.overlay {
 	background-color: #ffffb2;
 	color: #9d9d9d;
	padding: 0px;

}

/*.previouslyHighlighted {
	background-color: #e8f4f8;
}*/
/*.pagebreak{
	content:"\a \a";
    white-space: pre;
}*/

.listOverlay {
	background-color: rgba(0,0,0,0.1);

}

ion-content span {
	font-size: 1.3em;
	line-height: 1.7em;

};
