.large-icon,
.large-icon:before {
	font-size: 36px; 
	padding: 0px 3px 0px 8px;
}

.medium-icon,
.medium-icon:before {
	font-size: 32px; 
	padding: 0px 4px 0px 0px;
}

.ion-email::before {
    content: url('../img/lederlogo.png');
}

.previouslyHighlighted {
	background-color: #d8dbff;
}
/*.pagebreak{
	content:"\a \a";
    white-space: pre;
}*/

.highlighted {
	background-color: #FFFF00;

}



.overlay {
 	background-color: #ffffb2;
 	color: #9d9d9d;
}


.listOverlay {
	background-color: rgba(0,0,0,0.1);

}

ion-content span {
	font-size: 1.4em;
	line-height: 1.8em;
	padding: 1px;

}

.popup-body {
  text-align: center;
}

.blank-state {
	color: #9d9d9d;
	padding-top: 9em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:.7em;
	line-height: 1.7em;
}

.right-side {
    float: right;
}

